@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #1e1c1c;
    color: #e5e5e5;
}


.navbar-fixed {
    @apply fixed z-[9999] bg-dark shadow-xl;
}

.burger-line {
    @apply w-[30px] h-[2px] my-2 block bg-neutral-200 rounded-full;
}
.burger-line2 {
    @apply w-[15px] h-[2px] my-2 block bg-neutral-200 ml-auto rounded-full;
}

.burger-active > span:nth-child(1) {
    @apply rotate-45;
}

.burger-active > span:nth-child(2) {
    @apply scale-0 -translate-x-5;
}

.burger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.rotanim{
    animation: spin_words 6s infinite;
}

@keyframes spin_words{
    10%{
        transform: translateY(-105%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-205%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-305%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-405%);
    }
    100%{
        transform: translateY(-400%);
    }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-milk;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}