@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #1e1c1c;
    color: #e5e5e5;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-dark shadow-xl;
}

.burger-line {
    @apply w-[30px] h-[2px] my-2 block bg-milk rounded-full;
}
.burger-line2 {
    @apply w-[15px] h-[2px] my-2 block bg-milk ml-auto rounded-full;
}

.burger-active > span:nth-child(1) {
    @apply rotate-45;
}

.burger-active > span:nth-child(2) {
    @apply scale-0 -translate-x-5;
}

.burger-active > span:nth-child(3) {
    @apply -rotate-45;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-milk;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}

.sub-title{
    @apply  text-primary font-black py-[20px] w-[130px] h-[130px] text-center text-8xl cursor-pointer transition duration-300 ease-in-out;
    text-shadow: 4px 4px 1px black;
}
.sub-change{
    @apply  text-dark font-black py-[20px] w-[130px] h-[130px] text-center text-8xl opacity-5;
    text-shadow: 2px 2px 1px grey;
}

.textchange {
  animation: pulse 5s infinite;
  @apply text-center;
  margin: auto;
}
@keyframes pulse {
    0% {transform: translateX(4%); @apply text-red-500;}
    25% {transform: translateX(-4%); @apply text-green-500;}
	  50% {transform: translateX(4%); @apply text-violet-500;}
    75% {transform: translateX(-4%); @apply text-yellow-500;}
    100% {transform: translateX(4%); @apply text-red-500;}
}
.textchange:after{
  content:"";
  animation: spon 5s infinite;
}
@keyframes spon {
  0% { content:"programmer";}
  25% { content:"npc";}
  50% { content:"graphic designer";}
  75% { content: "kamen rider"; }
  100% { content: "programmer"; }
}


.circle-gradient {background: rgb(61,177,170);
  background: linear-gradient(135deg, rgba(61,177,170,1) 0%, rgba(243,74,114,0) 20%);
}